############### Mac .gitignore (simplified) from https://github.com/github/gitignore/blob/master/Global/OSX.gitignore

.DS_Store

############### Python .gitignore (simplified) from https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

################

*~
.*
!.gitignore

# Do not ignore the Streamlit config directory
!.streamlit

## ignore Mixtral weight directories
Mixtral-8x7B-Instruct-v0.1/
mlx_model_quantized/
